<div class="numbers">
      <div id="carousel" style="transform: translateZ(96px) rotateX(0deg);">
            <figure style="transform: rotateX(0deg)   translateZ(96px);">1</figure>
            <figure style="transform: rotateX(72deg)  translateZ(96px);">2</figure>
            <figure style="transform: rotateX(144deg) translateZ(96px);">3</figure>
            <figure style="transform: rotateX(216deg) translateZ(96px);">4</figure>
            <figure style="transform: rotateX(288deg) translateZ(96px);">5</figure>
      </div>
</div>
<style>


.numbers {
      width: 210px;
      height: 140px;
      position: relative;
      perspective: 1100px;
}


#carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transform-origin: 100% 100%;
}

#carousel {
      transition: transform 1s;
}

#carousel.panels-backface-invisible figure {
      backface-visibility: hidden;
}

#carousel figure {
      display: block;
      position: absolute;
      width: 186px;
      height: 140px;
      left: 10px;
      top: 0px;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
      background-color: #ddd;
      background: linear-gradient(to bottom, rgba(191,191,191,1) 0%,rgba(195,195,195,1) 100%); 
}

#carousel figure {
      transition: opacity 1s, transform 1s;
}


</style>