* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
} 

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #2e368a;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
p {
    font-weight: 300;
    letter-spacing: 1px;
}

/* Portrait layout (default) */
.app {
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.loading_icon {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    box-shadow: 0 29px 65px 3px rgba(0,0,0,0.36);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px -50px;
}
.event {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    color: #fff;
    margin-top: 50px;
    margin-left: -150px;
    text-align: center;
}
#user_data {
    margin-top: 50px;
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 20px;
}
form input, form button {
    display: block;
}
.tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tabs a {
    display: block;
    width: 33.3%;
    float: left;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}
.tab-2 {
    display: none;
}

input, select {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1d1d1d;
    background-color: #e3e4ec;
    padding: 10px 0;
    text-indent: 10px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
}
p.worked {
    padding-top: 150px;
    color: #fff;
    text-align: center;
}

.screen-1, .screen-3, .screen-2 {
    transition: all cubic-bezier(.63,-0.29,.36,.72) .75s;
    position: absolute;
    background-color: #2e368a;
}

.title_screen {
    text-align: center;
    color: #fff;
    font-size: 4em;
    font-weight: 800;
    width: 100%;
    padding: 0 25px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    transition: all cubic-bezier(.63,-0.29,.36,.72) .75s;
}
.title_screen_years {
    font-size: .25em;
    font-weight: 300;
}
.title_screen_desc {
    margin-top: 2em;
    font-size: .45em;
    font-weight: normal;
    line-height: 1.2em;
}
.title_screen_sub {
    margin-top: 1em;
    font-size: .25em;
    font-weight: 300;
    letter-spacing: 1px;
}

.next, .next:visited {
    display: block;
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    color: #2e368a;
    width: 90%;
    position: absolute;
    bottom: 50px; 
    left: 5%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.next:active, .next:hover {
    color: darken(#2e368a, 50%);
}

.screen-3 {
    display: none;
    opacity: 0;
}
.year_screen {
    text-align: left;
    font-size: 2em;
    position: static;
    top: 0;
    color: #2e368a;
    font-size: 2em;
    font-weight: 800;
    padding: 0 25px;
}
.year_screen_desc {
    font-size: .5em;
    font-weight: 300;
}







.screen-1 {
    height: 110%;
    margin-top: -10%;
}

.screen-1 {
    z-index: 3;
}
.screen-3 {
    z-index: 2;
}
.screen-3 {
    z-index: 1;
}

.year_timeline {
    margin-top: 75px;
}
.year_timeline:after {
    display: block;
    content: "";
    width: 5px;
    height: 100%;
    background-color: #2e368a;
    position: absolute;
    top: 0;
    left: 50px;
}


.group {
    display: block;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #2e368a;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_01 {
    background-image: url('../img/freshman/01.svg');
}
.icon_02 {
    background-image: url('../img/freshman/02.svg');
}
.icon_03 {
    background-image: url('../img/freshman/03.svg');
}
.icon_04 {
    background-image: url('../img/freshman/04.svg');
}
.icon_05 {
    background-image: url('../img/freshman/05.svg');
}
.icon_06 {
    background-image: url('../img/freshman/06.svg');
}
.icon_07 {
    background-image: url('../img/freshman/07.svg');
}
.icon_08 {
    background-image: url('../img/freshman/08.svg');
}
.icon_09 {
    background-image: url('../img/freshman/09.svg');
}
.icon_10 {
    background-image: url('../img/freshman/10.svg');
}
.icon_11 {
    background-image: url('../img/freshman/11.svg');
}
.icon_12 {
    background-image: url('../img/freshman/12.svg');
}

.month, .title, .desc {
    padding-left: 50px;
}
.title, .desc {
    font-size: .5em;
    font-weight: 300;
    padding-left: 75px;
    display: inline-block;
}
.month {
    position: absolute;
    left: 50px;
}
.desc {
    padding-bottom: 25px;
}
.year_screen_title, .year_screen_desc {
    margin-left: 50px;
}
.year_screen_title {
    margin-top: 25px;
}
.title {
    font-weight: bold;
}


.screen {
    width: 100%;
}


.screen-3 {
    background-color: #fff;
    height: auto;
}


.move_up {
    transform: translate(0,-100%);
    opacity: 0;
}
.move_view {
    display: block;
    opacity: 1;
}



.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #2e368a;
    transition: all cubic-bezier(.63,-0.29,.36,.72) .75s;
}

.animated { 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 100% {-webkit-transform: translateY(0);} 
    50% {-webkit-transform: translateY(-30px);} 
} 

@keyframes bounce { 
    0%, 50%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-30px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}




#circle {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 400px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    position: absolute;
    top: 280px;
    left: 30px;
}
#circle img {
    width: 100%;
    height: 100%;
}

.user_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.sophomore {
    transform: rotate(90deg);
    left: 120px;
    top: 120px;
}
.junior {
    transform: rotate(180deg);
    left: 0;
    top: 240px;
}
.senior {
    transform: rotate(270deg);
    left: -120px;
    top: 120px;
}


