* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
} 
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;          
    background-color: #2e368a;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
input, select, button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1d1d1d;
    background-color: #e3e4ec;
    padding: 10px 0;
    text-indent: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0; 
    border-radius: 0;
}


.app {
    width: 100%;
    height: 100%;
}
.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.screen-1 {
    /*z-index: 4;*/
    background-color: #2e368a;
}




/* screen 1 */

.loading_icon {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px -50px;
}
.animated { 
    animation-duration: 3s; 
    animation-fill-mode: both; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
} 
@keyframes bounce { 
    0%, 50%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-30px);} 
} 
.bounce { 
    animation-name: bounce; 
}




/* screen 2 */

#user_data {
    margin: 0 auto;
    width: 300px;
}
.next, .next:visited {
    display: block;
    padding: 20px 0;
    width: 100%;
    background-color: #fff;
    color: #2e368a;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.next:active, .next:hover {
    color: #2e368a;
}






